@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Qwitcher+Grypen:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.main-container{
  font-family:'Poppins', sans-serif ;
  margin: 0 auto;
  position: absolute;
  height: 300%;
  width: 100%;
  background: linear-gradient( 109.6deg,  rgba(83, 4, 4, 0.91) 12.7%, rgba(250,5,5,0.91) 92.2% );
}
.main-container h1{
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 60px;
  font-weight:1000;

}
.navigation{
  color: white;
  background-color: rgb(9, 8, 8);
  text-decoration:none;
}
.navigation  ul {
  padding: 20px;
 display: flex;
 justify-content:space-evenly;
 list-style:none ;
}
.navigation ul li {
  text-decoration:none;
  color: beige;

}
.navigation Link{
  text-decoration:none;
  color: aliceblue;
}
h2{
  text-align: center;color: yellow;
  padding-top: 30px;
}