.con-con{
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.674);
    margin-top: 40px;
    width: 80%;
    height: 50%;
}
hr{
    margin: auto;
    width: 80%;
}

.con-con h1{
    color: wheat;
    font-weight: 100;
}
.con-con h2{
    text-align: center;
    color: white;
    margin: 10px;
    font-weight: 100;
    


}
.row{
    padding: 50px;
    display: flexbox;
    align-content: center;
    color: wheat;
}

.row li{
    list-style: none;
}

.card{
    border: 2px solid wheat;
    padding: 10px;
    width: 70%;
    background-color: black;
   margin: 0 auto;
   display: flex;
   
}

.card-body h5{
    font-size: 28px;
}
.text-con{
    margin-left: 50px;
}
.card img{
    width: 30%;
}
.justify-content-between{
    justify-content: space-evenly;

}
.d-flex {
    display: flex;
}
.btn{
    width: 30%;
}
.mt-3{
margin: 0 auto;
}
.bg-success {
    background-color: black;
    color: white;
    border: none;
    margin: 5px;
    padding: 10px;
    
}